pkgbase = hyprcap-git
	pkgdesc = Lightweight pure-Rust screen recorder for Hyprland (wf-recorder + GTK4)
	pkgver = 0.1.0.r0.g0000000
	pkgrel = 1
	url = https://github.com/FrancoEscob/hyprcap
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = git
	makedepends = pkgconf
	depends = gtk4
	depends = libadwaita
	depends = wf-recorder
	depends = slurp
	depends = ffmpeg
	depends = glibc
	depends = gcc-libs
	optdepends = hyprland: multi-monitor inventory + layout-true dual capture (hyprctl)
	optdepends = libnotify: desktop notifications (notify-send)
	optdepends = wl-clipboard: copy absolute path on success (wl-copy)
	optdepends = xdg-utils: open last file/folder from the GUI
	optdepends = pipewire-pulse: system/app/mic audio matrix (pactl; recommended)
	optdepends = pulse-native-provider: alternative Pulse API for audio capture
	provides = hyprcap
	conflicts = hyprcap
	conflicts = record-ui
	conflicts = record-ui-git
	options = !lto
	source = hyprcap-git::git+https://github.com/FrancoEscob/hyprcap.git
	sha256sums = SKIP

pkgname = hyprcap-git
